//
//  ProjectRelease.xcconfig
//  
//
//  Created by Duane Bradbury on 18/12/2008.
//  Copyright 2008 Tootle. All rights reserved.
//
#include "IPadRelease.xcconfig"
#include "Project.xcconfig"


GCC_PREPROCESSOR_DEFINITIONS = $(IPAD_DEFINITIONS) $(PROJECT_DEFINITIONS)

//	gr: change to iPhone Distribution: once I've sorted my provision
CODE_SIGN_IDENTITY = iPhone Developer:

OTHER_LDFLAGS = $(IPAD_LDFLAGS) $(PROJECT_LDFLAGS)
OTHER_CPLUSPLUSFLAGS = $(IPAD_CPLUSPLUSFLAGS) $(PROJECT_CPLUSPLUSFLAGS) 

