//
//  TootleDebug.xcconfig
//  
//
//  Created by Duane Bradbury on 18/12/2008.
//  Copyright 2008 Tootle. All rights reserved.
//
//	combine this with MacRelease.xcconfig or MacDebug.xcconfig to make LibXXX.xcconfig

//	lib settings
//TOOTLE_ROOT = ../..
//HEADER_SEARCH_PATHS = $(TOOTLE_ROOT) $(TOOTLE_ROOT)/TootleFileSys/Freetype/include

//INSTALL_PATH = ../../Lib
//SKIP_INSTALL = NO

//	gr: don't define these, we can leave them as xcode wants
MACH_O_TYPE = staticlib
STANDARD_C_PLUS_PLUS_LIBRARY_TYPE = static

DEPLOYMENT_LOCATION = YES
