//
//  TootleDebug.xcconfig
//  
//
//  Created by Duane Bradbury on 18/12/2008.
//  Copyright 2008 Tootle. All rights reserved.
//
//	combine this with MacRelease.xcconfig or MacDebug.xcconfig to make LibXXX.xcconfig

//	lib settings
TOOTLE_ROOT = ../..

EXECUTABLE_EXTENSION = a
EXECUTABLE_PREFIX = lib
WRAPPER_EXTENSION = 
LIB_DEFINITIONS = 
LIB_LDFLAGS =
LIB_CPLUSPLUSFLAGS =

//	gr: needed? could be left as defaults?
INSTALL_PATH = 
SKIP_INSTALL = NO
PREBINDING = YES
GENERATE_PKGINFO_FILE = NO

// Position dependent code generation is faster than non-position dependent code for applications
// Position independent code is only really need for shared (dynamic) libraries
// See http://developer.apple.com/mac/library/documentation/Performance/Conceptual/CodeFootprint/Articles/CompilerOptions.html#//apple_ref/doc/uid/20001861-CJBJFIDD
GCC_DYNAMIC_NO_PIC = NO
