//
//  TootleDebug.xcconfig
//  
//
//  Created by Duane Bradbury on 18/12/2008.
//  Copyright 2008 Tootle. All rights reserved.
//
#include "MacDebug.xcconfig"
#include "Lib.xcconfig"
#include "Qt.xcconfig"


GCC_PREPROCESSOR_DEFINITIONS = $(MAC_DEBUG_DEFINITIONS) $(LIB_DEFINITIONS) $(QT_DEFINITIONS)
OTHER_CPLUSPLUSFLAGS = $(MAC_DEBUG_CPLUSPLUSFLAGS) $(LIB_CPLUSPLUSFLAGS) $(QT_CPLUSPLUSFLAGS)
OTHER_LDFLAGS = $(MAC_DEBUG_LDFLAGS) $(LIB_LDFLAGS) $(QT_LDFLAGS)

HEADER_SEARCH_PATHS = $(TOOTLE_ROOT) $(QT_HEADER_SEARCH_PATHS)
LIBRARY_SEARCH_PATHS = $(INHERITED) $(QT_LIBRARY_SEARCH_PATHS)
