//
//  ProjectDebug.xcconfig
//  
//
//  Created by Duane Bradbury on 18/12/2008.
//  Copyright 2008 Tootle. All rights reserved.
//
#include "MacDebug.xcconfig"
#include "Project.xcconfig"
#include "Qt.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS = $(MAC_DEBUG_DEFINITIONS) $(PROJECT_DEFINITIONS) $(QT_DEFINITIONS)
OTHER_CPLUSPLUSFLAGS = $(MAC_DEBUG_CPLUSPLUSFLAGS) $(PROJECT_CPLUSPLUSFLAGS) $(QT_CPLUSPLUSFLAGS)
OTHER_LDFLAGS = $(MAC_DEBUG_LDFLAGS) $(PROJECT_LDFLAGS) $(QT_LDFLAGS)
