//
//  Tootle.xcconfig
//  
//	generic, cross platform, cross configuration type, build flags
//

//QT_CPLUSPLUSFLAGS = -pipe -g -Wall -W
QT_CPLUSPLUSFLAGS = -pipe -g
QT_DEFINITIONS = TL_ENABLE_QT QT_OPENGL_LIB QT_GUI_LIB QT_CORE_LIB QT_SHARED
QT_LDFLAGS = -headerpad_max_install_names -L/Library/Frameworks -F/Library/Frameworks -framework QtGui -framework QtOpenGL -framework QtCore

QT_HEADER_SEARCH_PATHS = /Library/Frameworks/QtCore.framework/Versions/4/Headers /usr/include/QtCore /Library/Frameworks/QtGui.framework/Versions/4/Headers /usr/include/QtGui /Library/Frameworks/QtOpenGL.framework/Versions/4/Headers /usr/include/QtOpenGL /usr/include /System/Library/Frameworks/OpenGL.framework/Versions/A/Headers /System/Library/Frameworks/AGL.framework/Headers . . /usr/local/include /System/Library/Frameworks/CarbonCore.framework/Headers /usr/local/Qt4.6/mkspecs/macx-xcode
QT_LIBRARY_SEARCH_PATHS = /Library/Frameworks /System/Library/Frameworks/

MACOSX_DEPLOYMENT_TARGET = 10.4
COPY_PHASE_STRIP = NO
DYLIB_COMPATIBILITY_VERSION = 1.0
DYLIB_CURRENT_VERSION = 1.0.0
PREBINDING = NO
SECTORDER_FLAGS = 
BUILD_ROOT = /Users/graham/QTTest/QTTesting
LEXFLAGS = 
OTHER_REZFLAGS = 
YACCFLAGS = -d

