//
//  Tootle.xcconfig
//  
//	generic, cross platform, cross configuration type, build flags
//


//	gr: next xcconfig should inherit these defines. Settings don't seem to be inheritable
//		eg. this doesn't work
//			a.xcconfig	DEFINES = XXX
//			b.xcconfig	DEFINES = $(DEFINES) YYY (b includes a)
//			DEFINES is YYY (not XXX YYY)
//	define a user, in xcode this is TL_USER_graham. On the PC its the computer name (eg. TL_USER_Zoidberg)
//	as these aren't consistent enough in TLCore.h there are some #if's to convert into more generic names (eg. TL_USER_GRAHAM) for user-specific debug etc
TOOTLE_DEFINITIONS = TL_USER_$(INSTALL_OWNER)
TOOTLE_LDFLAGS =
TOOTLE_CPLUSPLUSFLAGS = 


//	gr: make the product name (eg. TootleCore) the same as the project so we don't need to set it on the target
PRODUCT_NAME = $(PROJECT_NAME)

//	gr: include <> dir. TOOTLE_ROOT is defined at lib or project level
HEADER_SEARCH_PATHS = $(TOOTLE_ROOT)

//	generic exclusion..
EXCLUDED_RECURSIVE_SEARCH_PATH_SUBDIRECTORIES = *.nib *.lproj *.framework *.gch *.xcode* (*) CVS .svn build *.vcproj

