//
//  Tootle.xcconfig
//  
//	generic, cross platform, cross configuration type, build flags
//


//	gr: next xcconfig should inherit these defines. Settings don't seem to be inheritable
//		eg. this doesn't work
//			a.xcconfig	DEFINES = XXX
//			b.xcconfig	DEFINES = $(DEFINES) YYY (b includes a)
//			DEFINES is YYY (not XXX YYY)
TOOTLE_DEFINITIONS = 
TOOTLE_LDFLAGS =
TOOTLE_CPLUSPLUSFLAGS = 


//	gr: make the product name (eg. TootleCore) the same as the project so we don't need to set it on the target
PRODUCT_NAME = $(PROJECT_NAME)

//	gr: include <> dir. TOOTLE_ROOT is defined at lib or project level
HEADER_SEARCH_PATHS = $(TOOTLE_ROOT)

//	generic exclusion..
EXCLUDED_RECURSIVE_SEARCH_PATH_SUBDIRECTORIES = *.nib *.lproj *.framework *.gch *.xcode* (*) CVS .svn build *.vcproj

